doctype html
html
  head
    title= title
    link(rel='stylesheet', style='text/css', href='../stylesheets/style.css')
    link(rel='stylesheet', style='text/css', href='../stylesheets/bootstrap.css')
  body
    block content